---
const { navn, kunstner, image } = Astro.props;
---

<article>
  <img src={image} alt={navn} />
  <h3>{navn}</h3>
  <p>{kunstner}</p>
</article>

<style>
  article {
    padding: 0.5rem;
    border-radius: 10px;
  }
  article:hover {
    background-color: rgb(44, 44, 44);
  }

  .sidebar-right,
  .album,
  img {
    max-width: 100%;
    border-radius: 10px;
  }
  h3 {
    font-size: 1rem;
    font-weight: 300;

    margin-bottom: 1px;
  }
  p {
    font-size: 0.9rem;
    color: rgb(162, 162, 162);

    margin-top: 10px;
  }
</style>
